body {
    color: #333; /* change font color */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
/* HEADER-START*/
header {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 0.5;
}

header h1 {
    margin: 0;
}

/* HEADER-END*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex: 10;
}

/* MENU-START*/
.flex-container .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    background-color: wheat;
}

.flex-container .menu .menu-box {
    min-width: 80%;
    background-color: white;
    border: solid black 3px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container .menu .menu-box h3 {
    margin: 0;
    padding: 10px;
}
/* MENU-END*/
/* CONTENT-START*/
.flex-container .content {
    flex: 8;
    background-color: saddlebrown;
}
/* CONTENT-END*/

/* ASIDE-START */
.flex-container aside {
    flex: 2;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container aside p {
    padding: 0 10%;
    margin: 5px;
}

.flex-container aside img {
    width: 80%;
}

/* ASIDE-END */

/* FOOTER-START */
footer {
    flex: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}

footer .contacts-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .contact-card {
    display: flex;
    flex-direction: column;
}

footer .copyright {
    padding: 5px 0 0 10px;
    font-style: italic;
}

footer h2 {
    margin: 0 10px;
}

footer h3 {
    margin: 0;
}

footer p {
    margin: 0;
}
/* FOOTER-END */
